* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div {
    height: 450px;
    float: left;
    width: 150px;
    margin: 10px;
    position: relative;
    text-align: center;
}

.child {
    position: absolute;
}

img {
    width: 130px;
}

button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}